html, body, img {margin: 0;padding: 0;font-size: 0;}
html, body {
	font-family: 'PingFang SC','Myriad Pro','Hiragino Sans GB','Microsoft YaHei',sans-serif;
	width: 100%;
	height: 100%;
}
body {
	position: relative;
}
div {box-sizing: border-box;}
a {
	outline: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}
.toast {
	display: none;
	position: absolute;
	top: 3rem;
	left: 50%;
	transform: translate(-50%, 0);
	padding: .15rem .2rem;
	background: rgba(0, 0, 0, .6);
	color: #fff;
	font-size: .2rem;
	border-radius: 4px;
}
.con-one {
	width: 100%;
	height: 100%;
	background: url('../../images/h_bg.jpg') no-repeat #ff6025;
	background-size: 100% 100%;
}
.con-content, .bottom {
	position: absolute;
	width: 100%;
	height: 50%;
}
.con-content {top: 0;}
.bottom {bottom: 0;}
.con-one .e-input {
	position: absolute;
	width: 5.5rem;
	height: .92rem;
	padding: .2rem .3rem;
	top: 1rem;
	left: 50%;
	margin-left: -2.72rem;
	border: 1px solid #eb2040;
	border-radius: .92rem;
	background: #fff;
	text-align: center;
}
.con-content .con-icon {
	position: absolute;
	top: .6rem;
	left: .6rem;
}
.con-content .con-icon img {
	width: 4.13rem;
	height: .66rem;
}
.con-content .con-text {
	position: absolute;
	top: 2rem;
}
.con-content .con-text img {
	width: 100%;
}
.e-input input {
	margin-top: -.06rem;
	height: .48rem;
	line-height: .48rem;
	border: none;
	width: 80%;
	outline: none;
	font-size: .4rem;
	text-align: center;
}
.con-one .e-btn {
	position: absolute;
	width: 5.5rem;
	height: .98rem;
	top: 2.2rem;
	left: 50%;
	margin-left: -2.75rem;
	background: url('../../images/high_btn.png') no-repeat;
	background-size: contain;
}
.e-slogan {
	position: absolute;
	width: 1.55rem;
	height: .65rem;
	bottom: .25rem;
	left: 50%;
	margin-left: -0.72rem;
	background: url('../../images/h_gome_icon.png') no-repeat;
	background-size: contain;
}
.con-one .e-check {
	position: absolute;
	width: 100%;
	top: 3.6rem;
	text-align: center;
	font-size: .16rem;
	color: #fff;
}
.con-one .e-check .check-item {
	position: relative;
	display: inline-block;
	padding-left: .3rem;
}
.check-item.normal:before {
	content: " ";
	display: block;
	position: absolute;
	top: 0.08rem;
	left: 0;
	width: .18rem;
	height: .16rem;
	background: url('../../images/check_normal.png') no-repeat;
	background-size: cover;
}
.check-item.actived:before {
	content: " ";
	display: block;
	position: absolute;
	top: 0.04rem;
	left: 0;
	width: .18rem;
	height: .16rem;
	background: url('../../images/check_actived.png') no-repeat;
	background-size: cover;
}
.con-one .e-check a {
	color: #fff;
}


.con-out {
	display: none;
	width: 100%;
	height: 100%;
	background: url('../../images/h_bg.jpg') no-repeat #ff6025;
	background-size: 100% 100%;
}
.con-out .content {
	width: 100%;
	height: 100%;
	background: url('../../images/h_bg_3.png') no-repeat;
	background-size: 100% auto;
	background-position: center;
}
.con-out .app_down_link {
	display: block;
	position: absolute;
	width: 100%;
	height: 50%;
	bottom: 0;
}
.con-out .btn {
	position: absolute;
	width: 100%;
	height: 2rem;
	top: 2.5rem;
}
.con-out .share_guide {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, .6);
}
.con-out .share_guide .guide_top {
	position: absolute;
	width: 5rem;
	right: 0;
}
.con-out .share_guide img {
	width: 100%;
}
.con-out .guide_bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.con-in {
	display: none;
	width: 100%;
	height: 100%;
	background: url('../../images/h_bg.jpg') no-repeat;
	background-size: 100% 100%;
}
.con-in .text {
	position: absolute;
	top: .6rem;
	width: 100%;
	text-align: center;
	font-size: .36rem;
	color: #fff;
}
.con-in .sub-text {
	position: absolute;
	top: 4.2rem;
	width: 100%;
	text-align: center;
	font-size: .36rem;
	color: #fff;
}
.con-in .qr-code {
	position: absolute;
	width: 2.55rem;
	height: 2.55rem;
	left: 50%;
	top: 1.7rem;
	transform: translate(-50%, 0);
}
.con-in .qr-code img {
	width: 2.55rem;
	height: 2.55rem;
}

.cover-common {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	background: rgba(0, 0, 0, 0.6);
}
.cover-common .share-wap-con {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 5.4rem;
	height: 3rem;
	margin-top: -2rem;
	margin-left: -2.7rem;
	background: #fff;
	border-radius: .2rem;
	text-align: center;
	box-sizing: border-box;
}
.cover-common .share-wap-con .title {
	height: 2.1rem;
	margin-top: 0;
	margin-bottom: 0;
	box-sizing: border-box;
	padding: .6rem .2rem 0;
	font-size: .3rem;
	color: #666;
	line-height: .5rem;
	border-bottom: 1px solid #f7f7f7;
}
.cover-common .share-wap-con .btn {
	width: 5.4rem;
	height: .9rem;
	line-height: .9rem;
	font-size: 0;
}
.cover-common .share-wap-con .btn a {
	display: inline-block;
	box-sizing: border-box;
	height: .9rem;
	width: 2.7rem;
	font-size: .32rem;
	text-decoration: none;
}
.cover-common .share-wap-con .btn a.down-link {
	color: #fb5367;
}
.cover-common .share-wap-con .btn a.cancel {
	display: none;
	border-right: 1px solid #f7f7f7;
	color: #999;
}
.cover-common .share-wap-con .msg {
  margin-top: .3rem;
  height: .6rem;
  line-height: .6rem;
  font-size: .24rem;
  color: #666;
}


.con-rule {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	background: rgba(0, 0, 0, 0.6);
}
.con-rule .rule-text {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 7rem;
	height: 10rem;
	padding: .15rem;
	margin-top: -5rem;
	margin-left: -3.5rem;
	background: #fff;
	border-radius: .2rem;
	text-align: center;
	box-sizing: border-box;
}
.rule-text .msg-con {
	width: 100%;
	height: 8.5rem;
	overflow: auto;
}
.rule-text .title {
	font-family: PingFangSC-Medium;
	line-height: .45rem;
	font-size: .34rem;
	color: #E65050;
	text-align: center;
}

.rule-text .title .icon {
	position: absolute;
	right: .3rem;
	top: .24rem;
	display: block;
	width: .6rem;
	height: .6rem;
	background: url('../../images/icon_close.png') no-repeat;
	background-size: cover;
}
.rule-text .sub-title {
	text-align: left;
	line-height: .4rem;
	font-family: PingFangSC-Medium;
	font-size: .3rem;
	color: #333333;
}
.rule-text .msg {
	text-align: left;
	font-family: PingFangSC-Regular;
	font-size: .28rem;
	color: #666666;
	line-height: .4rem;
}